// Color
$white:#ffffff;
$blue:#5086ff;
$text-b:#2b313a;
$text-g:#6f777f;
$green-color:#a1d353;
$orange-color:#ef9d43;
$purple-color: #9a66dd;
$purple-chat: #7e62ef;
$ethereum-color:#5c6bc0;
$light-red:#ef6156;
$bg-gray: #f6f8f9;
$bg-yellow: #f4ab2a;
$dark-green-color: #45ad3a;
// fonts
$objective:'objective';