@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/gb_variables';
@import '../../../../assets/scss/mixin';

.gb-proofof-main {
    .gb-money-banner {
        &:after {
            background: #812be1;
            height: calc(100% - 100px);
            @media (max-width: 767px) {
                height: 100%;
            }
        }
        .gb-money-dtl {
            padding-bottom: 130px;
            @media (max-width: 767px) {
                padding-bottom: 0px;
            }
            .gb-basic-btn {
                background: rgba(255, 255, 255, 0.35);
            }
            .gb-money-banner-dtl {
                width: 100%;
                p {
                    margin-bottom: 35px;
                    @media (max-width: 1199px) {
                        margin-bottom: 20px;
                    }
                    @media (max-width: 991px) {
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .gb-dephth-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            .gb-money-video {
                text-align: center;
                img {
                    box-shadow: none;
                    border-radius: 0px;
                    width: 300px; 
                }
            }
            .gb-segment-blk {
                width: 100%;
                .gb-next-menublk {
                    .gb-next-menubtn {
                        min-width: 115px;
                    }
                }
            }
        }
    }
    .gb-quiz-content-blk {
        background: url(../../../../assets/images/in-depth/proof-left.svg), url(../../../../assets/images/in-depth/proof-right.svg);
        background-repeat: no-repeat;
        background-position: left 35px bottom -1px, right 35px bottom -1px;
        background-color:#812be1;
        background-size: 36%;
        background-size: 323px 370px ,210px 355px;
        @media (max-width: 1199px) { 
            background-size: 240px auto ,150px auto;
        }
        @media (max-width: 991px) { 
            background-size: 200px auto ,110px auto;
        }
        @media (max-width: 767px) { 
            background-size: 26% auto ,15% auto;
        }
        @media (max-width: 575px) { 
            background-position: left 25px bottom -1px, right 25px bottom -1px;
        }
        .gb-quiz-content-dtl {
            .gb-begin-blk {
                .gb-begin-btn {
                    color: #812be1;
                    .gb-right-arrow {
                        background: url(../../../../assets/images/right-arrow-line-proofof.svg) no-repeat;
                    }
                }
            }
        }
    }
    .gb-next-pageblk {
        .gb-next-page-menu {
            span {
                color: $dark-green-color;
            }
            .gb-letsgo-btnblk {
                .gb-letsgobtn {
                    background: $dark-green-color;
                }
            }
        }
    }
    .gb-money-content-wrapper { 
        padding: 0px;
        .gb-money-content-dtl{
            .gb-money-content-desc{
                > *{
                    &:first-child{
                        margin-bottom: 30px !important;
                    }
                    &:last-child{
                        margin-bottom: 0px !important;
                    }
                }
            }
        }
        h2{
            color: #812be1;
            font-weight: 700;
        }
        .gb-proofof-img1{
            @media (max-width:991px){
                margin-bottom: 0px;
            }
            img{
                width: 325px;
            }
        }
        .gb-proofof-img2{
            @media (max-width:991px){
                margin-bottom: 0px;
            }
            img{
                width: 325px;
            }
        }
        .gb-proofof-img3{
            @media (max-width:991px){
                margin-bottom: 0px;
            }
            img{
                width: 325px;
            }
        }
        .gb-proofof-img4{
            @media (max-width:991px){
                margin-bottom: 0px;
            }
            img{
                width: 165px;
            }
        }
        .gb-proofof-img5{
            @media (max-width:991px){
                margin-bottom: 0px;
            }
            img{
                width: 235px;
            }
        }
        .gb-proofof-img6{
            @media (max-width:991px){
                margin-bottom: 0px;
            }
            img{
                width: 347px;
            }
        }
        .gb-content-row{
            &:last-child{
                border: none;
            }
            .row{
                padding: 0px 0px 30px;
            }
        }
        .gb-money-header {
            .gb-money-progressbar {
                .gb-money-inner-bar {
                    background: #812be1;
                }
            }
            .gb-money-header-row {
                .gb-money-left {
                    span {
                        color: #812be1;
                    }
                }
            }
        }
    }
    .gb-quiz-modal {
        .gb-quiz-body {
            background: #812be1;
        }
        .gb-quiz-modal-body {
            .gb-quiz-slider {
                .gb-money-question-swiper-button-prev {
                    color: #812be1;
                    .gb-prev-icon {
                        background: url(../../../../assets/images/right-arrow-line-proofof.svg) no-repeat;
                    }
                }
                .gb-money-question-swiper-button-next {
                    color: #812be1;
                    .gb-next-icon {
                        background: url(../../../../assets/images/right-arrow-line-proofof.svg) no-repeat;
                    }
                }
            }
        }
    }
}