@import '../../../assets/scss/variables';
@import '../../../assets/scss/gb_variables';
@import '../../../assets/scss/mixin';

.gb-glossary-block{
    padding: 110px 0px;
    @media (max-width:1199px){
        padding: 90px 0px;
    }
    @media (max-width:767px){
        padding: 50px 0px;
    }
    h1{
        font-size: 60px;
        color: $text-b;
        font-weight: 700;
        letter-spacing: -0.5px;
        margin-bottom: 50px;
        @media (max-width:1199px){
            font-size: 45px;
            margin-bottom: 40px;
        }
        @media (max-width:767px){
            font-size: 30px;
            margin-bottom: 30px;
        }
    }
    .gb-tag-button-list{
        margin-bottom: 40px; 
        .gb-tag-button{
            background: $blue;
            color: $white;
            font-size: 14px;
            margin-right: 10px;
            font-weight: 600;
            padding: 8px 20px;
            border: 1px solid $blue;
            -webkit-transition: all 0.1s ease-in-out;
            -moz-transition: all 0.1s ease-in-out;
            -o-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
            @media (max-width:575px){
                width: calc(33.33% - 10px);
                padding-left: 0px;
                padding-right: 0px;
            }
            &:hover{
                background: $white;
                color: $blue;
            }
            &:last-child{
                margin-right: 0px;
            }
            &:focus{ 
                box-shadow: none;
            }
        }
    }
    .gb-glossary-list{
        .gb-glossary-list-box{
            margin-bottom: 30px;
            overflow: hidden;
            &:last-child{
                margin-bottom: 0px;
            }
            label{
                font-size:40px;
                color: $blue;
                font-weight: 700; 
                margin-bottom: 20px;
                width: 100%;
                display: block;
                @media (max-width:1199px){
                    font-size: 35px;
                }
                @media (max-width:767px){
                    font-size: 25px;
                }
            }
            .row{
                > div{
                    font-size: 0px;
                }
            }
            a{
                color: $text-b;
                font-size: 16px;
                font-weight: 600;
                transition: all 0.3s ease-in-out;
                padding: 5px 0px;
                display: inline-block;
                @media (max-width:1199px){
                    font-size: 15px;
                }
                @media (max-width:767px){
                    font-size: 14px;
                }
                &:hover{
                    color: $blue;
                }
            }
            ul{
                float: left;
                width: 33.33%;
                @media (max-width:575px){
                    width: 100%;
                }
                li{
                    font-size: 0px;
                    line-height: normal;
                    padding: 5px 0px;
                    
                }
            }
        }
    }
}